.w98-button {
  border: none;
  height: 25px;
  background-color: $black;
  padding-bottom: 1px;
  padding-right: 1px;
  cursor: pointer;

  &__content {
    height: 100%;
    background-color: $gray-1;
    border: 1px solid;
    border-top-color: $white;
    border-left-color: $white;
    border-bottom-color: $gray-2;
    border-right-color: $gray-2;
    // padding: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
  }

  &__label {
    font-family: $windows;
    font-size: 12px;
  }

  &:focus {
    padding: 1px 2px 2px 1px;

    .w98-button {
      &__content {
        height: 100%;
      }
    }
  }

  &:disabled {
    .w98-button {
      &__label {
        color: $gray-2;
        text-shadow: 1px 1px 0 $white;
      }
    }
  }

  // MUTATORS
  &.--bold {
    .w98-button {
      &__label {
        font-weight: 900;
      }
    }
  }
}