.w98-direct-access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  cursor: pointer;
  // padding: 8px;
  text-align: center;
  user-select: none;
  z-index: 1;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    color: $white;
    font-family: $windows;
    font-size: 12px;
    line-height: 12px;
    // word-break: break-all;
    
    @include fix-font;
  }

  &:hover {
    outline: 1px dotted $gray-1;
  }
}
