// LOCAL VARIABLES
$side-spacing: 3px;

.w98-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $taskbar-height;
  background-color: $gray-1;
  box-shadow: 
    0 -1px $white,
    0 -2px $gray-1;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__separator {
    height: $button-taskbar-height;
  }

  &__container {
    padding: $side-spacing;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: $side-spacing;
    width: 100%;
  }

  &__group {
    flex: 1;
    display: flex;
    column-gap: $side-spacing;
    overflow: hidden;
    width: calc(100% - $button-start-width-mobile - $side-spacing);

    @include media-desktop {
      width: calc(100% - $button-start-width-desktop - $side-spacing);
    }
  }
}