// LOCAL VARIABLES
$side-spacing: 4px;

.w98-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $taskbar-height;
  background-color: $gray-1;
  border-top: 1px solid $white;

  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 1px;
    background-color: $gray-3;
  }

  &__separator {
    width: 0;
    height: 30px;
    border-right: 1px solid $white;
    border-left: 1px solid $gray-5;
  }

  &__container {
    padding: $side-spacing;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    column-gap: $side-spacing;
    width: 100%;
  }

  &__group {
    flex: 1;
    display: flex;
    column-gap: $side-spacing;
    overflow: hidden;
    width: calc(100% - $button-start-width-mobile - $side-spacing);

    @include media-desktop {
      width: calc(100% - $button-start-width-desktop - $side-spacing);
    }
  }
}