// LOCAL VARIABLES
$side-spacing: 4px;

.w98-taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $taskbar-height;
  background-color: $gray-1;
  border-top: 1px solid $white;

  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 100%;
    height: 1px;
    background-color: $gray-3;
  }

  &__container {
    padding: $side-spacing;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    column-gap: $side-spacing;
  }

  &__group {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 158px);
    column-gap: $side-spacing;
  }
}