.w98-start-menu {
  user-select: none;
  height: $button-taskbar-height;

  &__button {
    font-weight: bold;

    span {
      display: none;
    }

    @include media-tablet {
      span {
        display: initial;
      }
    }
  }

  &__borderer-content {
    padding: 1px;
  }

  &__wrapper {
    position: absolute;
    width: 162px;
    bottom: $taskbar-height - 2px;
    left: 3px;
  }

  &__banner {
    position: relative;
    width: 21px;
    background-color: $blue-main;

    &-text {
      position: absolute;
      transform: rotate(-90deg) translate(-50%, 0%);
      transform-origin: 0 0;
      top: 50%;

      span {
        font-family: $ms-sans;
        font-size: 11px;

        &:first-child {
          font-weight: 700;
          color: $gray-4;
        }

        &:nth-child(2) {
          color: $white;
        }
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;

    &-main-wrapper {
      position: relative;
    }

    &-wrapper {
      position: absolute;
      top: -3px;
      width: max-content;
      left: calc(100% - 5px);
      background-color: $gray-1;
      display: none;
      z-index: 1;

      &.--show {
        display: block;
      }
    }
  }

  &__item {
    padding: 4px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: default;

    &-wrapper {
      position: relative;

      .w98-start-menu {
        &__item {
          padding: 2px 10px;

          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    &.--expansible {
      &::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        right: 5px;
        background-image: url('/src/assets/icons/caret-right.png');
      }

      &:hover {
        &::after {
          background-image: url('/src/assets/icons/caret-right-hover.png');
        }
      }
    }

    &:hover,
    &.--active {
      background-color: $blue-main;

      &>span {
        color: $white;
      }

      &::after {
        background-image: url('/src/assets/icons/caret-right-hover.png');
      }
    }

    &>img {
      width: 22px;
      height: 22px;
    }

    span {
      font-family: $ms-sans;
      font-size: 11px;
      letter-spacing: 0.2px;
    }
  }

  &__separator {
    margin: 1px;
  }
}