.w98-home {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #008080; // quitar
  overflow: hidden;
  padding: 1px;

  .box {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 200px;
    height: 200px;
    border: 1px solid red;
  }
}