.w98-taskbar-button-base {
  border: none;
  height: 30px;
  background-color: $gray-1;
  grid-row: 1;
  user-select: none;

  @include box-shadow-normal;

  &__content {
    height: 100%;
    padding: 0 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 4px;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: $windows;
      font-size: 11px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $black;
    }
  }

  &.--align-normal {
    justify-content: flex-start;
  }

  &.--align-center {
    justify-content: center;
  }

  &.--active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);

    @include box-shadow-normal(true);

    .w98-taskbar-button-base {
      &__content {
        span {
          font-weight: 700;
        }
      }
    }
  }
}