.w98-taskbar-button-base {
  border: none;
  height: $button-taskbar-height;
  background-color: $gray-1;
  grid-row: 1;
  user-select: none;

  @include box-shadow-simple;

  &:active {
    @include box-shadow-simple(true);
  }

  &__content {
    height: 100%;
    padding: 0 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 4px;

    img {
      width: 16px;
      height: 16px;
    }

    span {
      font-family: $windows;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $black;
    }
  }

  &.--align-normal {
    justify-content: flex-start;
  }

  &.--align-center {
    justify-content: center;
  }

  &.--active {
    background-image: url(/src/assets/icons/pattern-square-light.png);
    font-weight: bold;

    box-shadow:
      inset -1px -1px #fff,
      inset 1px 1px #0a0a0a,
      inset -2px -2px #dfdfdf,
      inset 2px 2px $gray-2,
      inset 0px 3px $white;
  }
}