.w98-narea {
  height: $button-taskbar-height;
  background-color: $gray-1;
  border: 1px solid;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;

  border: 1px solid;
  border-top-color: $gray-5;
  border-left-color: $gray-5;
  border-bottom-color: $white;
  border-right-color: $white;

  @include media-tablet {
    min-width: 96px;
    padding-left: 4px;
    padding-right: 11px;
  }

  &__notifications {
    display: none;

    .w98-narea {
      &__icon-container {
        display: flex;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    @include media-tablet {
      display: initial;
    }
  }

  &__date {
    font-family: $windows;
    font-size: 12px;
    text-transform: uppercase;
  }
}