.w98-narea {
  height: $button-taskbar-height;
  background-color: $gray-main;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
  box-shadow: 
    inset 1px 1px $gray-secondary,
    inset -1px -1px $white;

  @include media-tablet {
    min-width: 96px;
    padding-left: 4px;
    padding-right: 11px;
  }

  &__notifications {
    display: none;

    .w98-narea {
      &__icon-container {
        display: flex;
        flex-direction: row;
        column-gap: 2px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    @include media-tablet {
      display: initial;
    }
  }

  &__date {
    font-family: $ms-sans;
    font-size: 11px;
    text-transform: uppercase;
  }
}