.w98-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  cursor: pointer;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    color: $white;
    font-family: $windows;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
