@mixin box-shadow-normal($invert: false) {
  @if $invert {
    box-shadow:
      inset -1px -1px #fff,
      inset 1px 1px #0a0a0a,
      inset -2px -2px #dfdfdf,
      inset 2px 2px grey;
  }

  @else {
    box-shadow:
      inset -1px -1px #0a0a0a,
      inset 1px 1px #fff,
      inset -2px -2px grey,
      inset 2px 2px #dfdfdf;
  }
}

@mixin fix-font {
  letter-spacing: 1px;
  text-shadow: 1px 0 black;
}

@mixin media-mobile() {
  @media(min-width: 375px) {
    @content;
  }
}

@mixin media-tablet() {
  @media(min-width: 768px) {
    @content;
  }
}

@mixin media-desktop() {
  @media(min-width: 1024px) {
    @content;
  }
}