$taskbar-height: 40px;
$button-start-width-desktop: 62px;
$button-start-width-mobile: 30px;

// COLORS
$gray-1: #BFBFBF;
$gray-2: #808080;
$gray-3: #D2D2D2;
$gray-4: #DBDBDB;
$gray-5: #7B7B7B;
$black: #000000;
$white: #ffffff;
$blue: #000084;
$green-1: #008484;

// FONTS
$coders: "Coder's Crux";
$windows: "Windows";
