.w98-taskbar-button {
  height: 30px;
  max-width: 230px;
  background-color: $gray-1;
  border: 1px solid;
  grid-row: 1;

  @include border-color-container;

  &__content {
    height: 100%;
    border: 1px solid;
    padding: 0 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 4px;

    @include border-color-box;

    span {
      font-family: $windows;
      font-size: 14px;
    }

  }

  //MUTATORS
  &.--bold {
    .w98-taskbar-button {
      &__content {
        span {
          font-weight: bold;
        }
      }
    }
  }

  &:focus {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);

    @include border-color-container-inv;

    .w98-taskbar-button {
      &__content {
        @include border-color-box-inv;
      }
    }
  }
}