// LOCAL VARIABLES
$size-direct-access: 74px;

.w98-desktop {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $green-1; // quitar
  overflow: hidden;
  padding: 1px;
  cursor: url('src/assets/icons/cursor-default.gif'), default;

  &__icon-group {
    width: 100%;
    height: calc(100% - $taskbar-height - 1px);
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-direct-access);
    grid-template-rows: repeat(auto-fill, $size-direct-access);
    grid-auto-flow: column;
  }
}
