.w98-desktop {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: #008080; // quitar
  overflow: hidden;

  &__icon-group {
    width: 100%;
    height: calc(100% - $taskbar-height - 1px);
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
    grid-auto-flow: column;
  }
}
