// LOCAL VARIABLES
$size-direct-access: 80px;

.w98-desktop {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: #008080; // quitar
  overflow: hidden;
  padding: 1px;

  &__icon-group {
    width: 100%;
    height: calc(100% - $taskbar-height - 1px);
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-direct-access);
    grid-template-rows: repeat(auto-fill, $size-direct-access);
    grid-auto-flow: column;
  }
}
