.w98-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #283048;
  // background: -webkit-linear-gradient(to right, #859398, #283048);
  // background: linear-gradient(to right, #859398, #283048);

  @include media-desktop {
    position: initial;
    height: 100vh;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // border: 1px solid #555555;

    @include media-tablet {
      // width: 640px;
      width: 895px;
      height: 480px;
      // width: 100%;
      // height: 100%;
    }

    /*
    @include media-desktop {
      top: -88px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 900px;
        height: 900px;
        transform: translate(-50%, -364px);
        background-image: url('/src/assets/images/old-monitor-2.png');
        background-size: 918px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    */
  }
}