.w98-window {
  position: absolute;
  top: 100px;
  left: 100px;
  background: $gray-1;
  border: 1px solid $black;
  border-top-color: $gray-4;
  border-left-color: $gray-4;
  z-index: 2;

  &.--regular {
    width: 320px;
    height: 240px;
    // width: 50%;
    // height: 50%;
  }

  &.--fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - $taskbar-height - 1px);
    border: none;

    .w98-window {
      &__content {
        border: none;
      }
    }
  }

  &.--minimized {
    display: none;
  }

  &.--focused {
    .w98-window {
      &__header {
        background: linear-gradient(45deg, #00007B, #1085D2);
      }
    }
  }

  &__content {
    height: 100%;
    border: 1px solid $gray-2;
    border-top-color: $white;
    border-left-color: $white;
    padding: 3px;
  }

  &__header {
    width: 100%;
    height: 27px;
    background-color: $gray-2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
    user-select: none;

    &-handle {
      font-family: $windows;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1px;
      // font-weight: 900;
      color: $white;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 4px;

      // span,
      // img {
      //   outline: 1px solid red;
      // }

      img {
        height: 20px;
        margin-right: 4px;
      }
    }
  }

  &-header {
    &__actions {
      display: flex;
      flex-direction: row;
      user-select: none;
    }
  }
}